#game_body
{
    background-image: url("https://i.pinimg.com/736x/c8/e5/75/c8e5753370bad54c7977d485e0a0e29d.jpg");
    background-position: center;
    background-size: cover;
}

#headinggame
{
    color:white;
}